BODY {
	color: red;
	background-color: #f0f0f0;
}

#main-body {
	text-align: center;
	background-color: #fff;
	width: 500px;
	margin: 100px auto;
	padding: 150px;
	border: 10px solid #ddd;
}

P {
	font-size: 80px;
}
