@font-face {
	font-family: 'Satisfy';
	font-style: normal;
	font-weight: 400;
	src: local('Satisfy'),
		//url('https://fonts.gstatic.com/s/satisfy/v6/ch7X2unYkww0EzsjlC3m8w.woff') format('woff'), // Modern Browsers
	url('https://fonts.gstatic.com/s/satisfy/v6/kteN-TiU7KwgPz3aaBeTSQ.ttf') format('truetype'), // Safari, Android, iOS
	url('https://fonts.gstatic.com/l/font?kit=wE3yFOROaHvW9rif2x3Gdw&skey=b02738efc6e9caf3#Satisfy') format('svg'); // Legacy iOS
}
