@font-face {
	font-family: 'Satisfy';
	font-style: normal;
	font-weight: 400;
	src: url('https://fonts.gstatic.com/s/satisfy/v6/swgYNTW5Q6X61bBH6SDBsg.eot'); // IE9 Compat Modes
	src: local('Satisfy'),
	url('https://fonts.gstatic.com/s/satisfy/v6/swgYNTW5Q6X61bBH6SDBsg.eot?#iefix') format('embedded-opentype'), // IE6-IE8
	url('https://fonts.gstatic.com/s/satisfy/v6/2OzALGYfHwQjkPYWELy-cw.woff2') format('woff2'), // Super Modern Browsers
	url('https://fonts.gstatic.com/s/satisfy/v6/ch7X2unYkww0EzsjlC3m8w.woff') format('woff'), // Modern Browsers
	url('https://fonts.gstatic.com/s/satisfy/v6/kteN-TiU7KwgPz3aaBeTSQ.ttf') format('truetype'), // Safari, Android, iOS
	url('https://fonts.gstatic.com/l/font?kit=wE3yFOROaHvW9rif2x3Gdw&skey=b02738efc6e9caf3#Satisfy') format('svg'); // Legacy iOS
}
